<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WebrickGUI</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="">
		<link rel="shortcut icon" href="">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<div id="header" class="row" style="display:flex; flex-wrap:wrap; padding:10px;">
			<div class="col-sm-4">
				<span class="h1">WebrickGUI</span>
			</div>
			<div class="col-sm-4 text-center" style="display: flex; align-items: center; justify-content: center;">
				<span id="programName"><%= meta[:commandFull] %></span>
			</div>
			<div class="col-sm-4 text-right">
				<button type="button" id="runButton" class="btn btn-default">run</button>
			</div>
		</div>

		<hr style="margin-top: 0;">

		<div class="container panel panel-default">
			<div id="content" class="panel-body"></div>
		</div>

		<!-- Load Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="main.js"></script>
	</body>
</html>
